@using KinoAfisha.Models;
@model Kino

@{
    Layout = null;
    var controllerName = "Kinos";
    var actionName = "Edit";
    var enctype = "multipart/form-data";
}


    <h3>Афиша</h3>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @enctype = enctype }))
{
    @Html.EditorForModel()

    <button class="btn btn-primary" onclick="Post('@controllerName','@actionName')">Сохранить</button>
    @Html.ActionLink("Отменить", "Index", controllerName, null, new { @class = "btn btn-danger" })
}
